<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://media.alvanista.com/uploads/timeline_image/2017/07/21/453606_2545907250.jpg" 
                alt="Imagem reduzida do card"
            >
        </div>
        <div class="small-card__title">
            <h1><a href="#">Pronta para a revanche!!!</a></h1>
        </div>
    </div>
    <div class="container__small-card-separator">
        <hr/>
    </div>

</div>


